name: {{name}}
version: '0.1'
summary: A brief summary of the package features
description: |
  More details about this package, including what the program does
  and why a user might want it.
base: ubuntu@24.04
maintainer: Name of the Maintainer <email@example.com>
section: utils

packages:
  {{name}}:
    depends: []

parts:
  my-part:
    plugin: nil
