name: QA
on:
  push:
    branches:
      - "main"
      - "feature/*"
      - "hotfix/*"
      - "release/*"
      - "renovate/*"
  pull_request:

jobs:
  lint:
    uses: canonical/starflow/.github/workflows/lint-python.yaml@main
  test:
    uses: canonical/starflow/.github/workflows/test-python.yaml@main
    with:
      # Disable 3.11 and 3.13 tests while wheels for python-apt and
      # pygit2 are not fully available.
      fast-test-platforms: '["ubuntu-22.04", "ubuntu-22.04-arm", "ubuntu-24.04", "ubuntu-24.04-arm"]'
      fast-test-python-versions: '["3.10", "3.12"]'
      slow-test-platforms: '["ubuntu-24.04", "ubuntu-24.04-arm"]'
      slow-test-python-versions: '["3.12"]'
      lowest-python-platform: "ubuntu-22.04"
      lowest-python-version: "3.10"
